include LICENSE
include README.rst
include Pipfile

graft graphql_example
graft vendor
graft tests
graft docs

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.sqlite
recursive-exclude * *.ipynb
